/* 해당 태그 앞에 들어감 */
h1::before{
    content: '@';
}
/* 해당 태그 뒤에 들어감 */
h1::after{
    content: '#';
}
/* 첫 글자에 적용 */
p::first-letter{
    color: red;
}
/* 첫 줄에 적용 */
p::first-line{
    font-size: 2rem;
}
/* 커서로 선택한 글자에 들어감 */
p::selection{
    background-color: aquamarine;
}